Source: wslu
Section: utils
Maintainer: Patrick Wu <wotingwu@live.com>
Standards-Version: VERSIONPLACEHOLDER-0~DATEPLACEHOLDER
Priority: optional

Package: wslu
Architecture: arm64 amd64
Depends: bc, wget
Recommends: git
Description: A collection of utilities for Windows 10 Linux Subsystem
 This is a collection of utilities for Windows 10 Linux Subsystem, such as enabling sound in WSL or creating your favorite linux app shortcuts on Windows 10 Desktop. Requires Windows 10 Creators Update and higher.
