Source: wslu
Section: utils
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploader: Jinming Wu, Patrick <me@patrickwu.space>
Build-Depends: debhelper (>= 11), gzip, make
Standards-Version: 4.1.3
Homepage: https://wslutiliti.es/wslu
Vcs-Browser: https://github.com/wslutilities/wslu
Vcs-Git: https://github.com/wslutilities/wslu.git

Package: wslu
Architecture: amd64 arm64
Depends: bc, imagemagick, desktop-file-utils
Recommends: pulseaudio-utils,
            x11-utils
Provides: www-browser
Description: collection of utilities for the Windows 10 Linux Subsystem
 This is a collection of utilities for the Windows 10 Linux Subsystem, such
 as for converting Linux paths to a Windows paths or creating Linux application
 shortcuts on the Windows 10 Desktop.
 .
 Requires Windows 10 Creators Update and higher.
