#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	chmod -x src/mime/wslview src/etc/runHidden.vbs
	dh_auto_configure

src/etc/wsl.ico: debian/cof_orange_hex.svg
	for i in 16 32 48 64 128 256; do inkscape --export-area=40:40:385:385 -w $$i -h $$i -f debian/cof_orange_hex.svg -e debian/cof_orange_hex_$$i.png ; done
	convert debian/cof_orange_hex_*.png src/etc/wsl.ico

override_dh_auto_install: src/etc/wsl.ico
	dh_auto_install

override_dh_auto_test:
	chmod +x tests/wslview.bats
	(export PATH=out:$$PATH; export TERM=xterm; for t in $$(ls tests/*.bats | egrep -v '(fetch|sys|wslusc)'); do $$t || exit 1; done)
